@charset "UTF-8";

body {
          background-color: aquamarine;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 20px;
      }
      h1{
          color: rgb(134, 211, 9);
          background-color: rgb(1, 47, 79);
      }
      h2 {
          color: rgb(30, 202, 221);
    }
        p {
            text-align: justify;
        }